<!DOCTYPE html>
<html lang="">
<head>
  <title>Home Page</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./home.css" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Petrona:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700&display=swap" />
</head>
<body>
  <div class="home">
    <div class="footer">
      <div class="contact-us">
        <div class="examplemailcom-91-234-container">
          <p class="examplemailcom">example@mail.com</p>
          <p class="examplemailcom">+91 234 567 890</p>
          <p class="laneindia">457 Lane,India</p>
        </div>
        <div class="l4"></div>
        <b class="contact-us1">Contact Us</b>
      </div>
      <div class="tandc">
        <div class="privacy-policy-terms-container">
          <ul class="privacy-policy-terms-and-condi">
            <li class="privacy-policy">Privacy Policy</li>
            <li class="privacy-policy">Terms and Conditions</li>
            <li class="privacy-policy">Disclaimer</li>
            <li class="privacy-policy">Support</li>
            <li>FAQ</li>
          </ul>
        </div>
        <div class="l4"></div>
        <b class="terms-condition">Terms & Condition</b>
      </div>
      <div class="useful-links">
        <div class="web-design-development-container">
          <ul class="privacy-policy-terms-and-condi">
            <li class="privacy-policy">Web Design</li>
            <li class="privacy-policy">Development</li>
            <li class="privacy-policy">Copywriting</li>
            <li class="privacy-policy">Marketing</li>
            <li>Press Releases</li>
          </ul>
        </div>
        <div class="l2"></div>
        <b class="useful-links1">Useful Links</b>
      </div>
      <div class="about-us">
        <div class="together-with-our">
          Together with our users, we strive to create a healthier, happier
          world. Free of pain and the countless other issues stemming from
          poor health.
        </div>
        <div class="l1"></div>
        <b class="about-us1">About Us</b>
      </div>
    </div>
    <div class="customers">
      <div class="img-bg">
        <img class="rectangle-icon" alt="" src="public/rectangle@2x.png" />
        <div class="rectangle2"></div>
      </div>
      <div class="copyright-2023-container">
        Copyright © 2023 Physio . All rights reserved.
        <a class="terms-of-use" href="https://www.fitnessblender.com/page/terms-of-use-agreement" target="_blank"><span
            class="terms-of-use1">Terms of Use</span></a>
        <a class="terms-of-use" href="https://www.fitnessblender.com/page/privacy-policy" target="_blank"><span
            class="terms-of-use1">Privacy Policy</span></a>
      </div>
      <div class="owner">
        <div class="owner1">Owner</div>
        <div class="having-my-words">
          (having my words "The Only Bad Workout is the one That Didn't
          Happen.")
        </div>
        <div class="being-the-owner">
          Being, the owner of the Physio promising you that my team will
          always help you to be in good posture in less time like a family.
          Join us today and ready to get good posture and get healthy.
        </div>
      </div>
      <div class="manager">
        <div class="manager1">Manager</div>
        <div class="having-my-words1">
          (having my words "It's Not About Having Time, It's About Making
          Time.")
        </div>
        <div class="being-the-manager">
          Being, the manager of the Physio assure you that you won't be
          dissapointed after joining Physio, I manages the club and
          memberships of every members. If you have any query just call here:
        </div>
      </div>
      <div class="user">
        <div class="user1">User</div>
        <div class="having-my-words2">
          (having my words "No Pain No Gain.")
        </div>
        <div class="being-the-user-container">
            <p class="laneindia">
           <div> Being, the User of the Physio, shares my opinion that you'll feel
            comfortable with this website as you can train from the comfort of
            your home.
</div><div>
            It also recommends personalised plans and detects wrong postures
            which helped to improve my posture and health.
          </div></p>
        </div>
      </div>
      <div class="reset-reconnect">
        Reset & reconnect with yourself. Get training from the comfort of your
        home
      </div>
      <div class="were-providing-best">
        We're Providing best facilities to our customers
      </div>
    </div>
    <div class="contact-us2" data-scroll-to="contactUsContainer" id="CONTACT-US">
      <div class="contact-us-child"></div>
      <div class="contact-us-item"></div>
      <button class="submit">
        <div class="submit1">Submit</div>
      </button><b class="send-your-queries">Send Your Queries!</b><b class="we-are-happy">We are happy to hear from
        you!</b><i class="contact-us3">Contact Us</i><textarea class="query-input"></textarea>
      <div class="any-query">Any Query?</div>
      <input class="mail-input" type="email" />
      <div class="email-id">Email Id</div>
      <input class="number-input" type="tel" />
      <div class="phone-number">Phone Number</div>
      <input class="name-input" type="text" />
      <div class="name">Name</div>
      <i class="get-in-touch">Get In Touch</i>
    </div>
    <div class="health-survey" data-scroll-to="healthSurveyContainer">
      <img src="public\physiohighresolutionlogoblackontransparentbackground-1@2x.png" alt="my-image" id="my-image" style="position: absolute; ">

      <div class="f1">

        <div class="f2">
          <button class="submit2">
            <a href="webcam.html">
            <div class="submit1">Submit</div></a>
          </button><textarea class="rectangle3"></textarea>
          <div class="expain-the-pain">
            Expain the pain or symptoms you often face?
          </div>
          <div class="never">
            <div class="sometimes">Never</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="s3">
            <div class="sometimes">Sometimes</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="often">
            <div class="sometimes">Ofen</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="how-often-do">How often do you get headaches?</div>
          <div class="no2">
            <div class="sometimes">No</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="s2">
            <div class="sometimes">Sometimes</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="yes2">
            <div class="sometimes">Yes</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="do-yoy-get">
            Do yoy get random aches in joints and muscles?
          </div>
          <div class="no1">
            <div class="sometimes">No</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="s1">
            <div class="sometimes">Sometimes</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="yes1">
            <div class="sometimes">Yes</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="do-you-get">Do you get any backpain or neck pain?</div>
          <textarea class="rectangle4"></textarea>
          <div class="are-there-things">
            Are there things you would like to do that you are currently
            unable to?
          </div>
          <textarea class="rectangle5"></textarea>
          <div class="what-kind-of">
            What kind of exercise do you participate in?
          </div>
          <input class="r1" type="text" />
          <div class="how-many-times">
            How many times per week do you exercise?
          </div>
          <div class="excellent">
            <div class="sometimes">Excellent</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="good">
            <div class="sometimes">Good</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="bad">
            <div class="sometimes">Bad</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="awful">
            <div class="sometimes">Awful</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="how-would-you">
            How would you describe your current fitness level ?
          </div>
          <div class="none">
            <div class="diabetes-type">None</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="db2">
            <div class="diabetes-type">Diabetes - Type 2</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="db1">
            <div class="diabetes-type">Diabetes - Type 1</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="hbp">
            <div class="diabetes-type">High blood pressure</div>
            <input class="never-child" type="checkbox" defaultchecked="{true}" readonly />
          </div>
          <div class="do-you-have">Do you have any of the following?</div>
          <div class="f2-child"></div>
          <div class="medical">Medical</div>
          <div class="weight">
            <input class="rectangle6" type="text" placeholder="In kg" />
            <div class="weight1">Weight</div>
          </div>
          <div class="height">
            <input class="rectangle7" type="text" placeholder="In inches" />
            <div class="weight1">Height</div>
          </div>
          <div class="gender">
            <div class="gender1">Gender</div>
            <select class="gender2">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="age">
            <input class="rectangle8" type="text" />
            <div class="age1">Age</div>
          </div>
          <div class="please-fill-out">
            Please fill out this health survey
          </div>
          <b class="health-survey1">Health Survey</b>
        </div>
      </div>
    </div>
    <div class="about-us2" data-scroll-to="aboutUsContainer" id="ABOUT-US">
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="group-item"></div>
        <div class="rectangle-group">
          <div class="group-inner"></div>
          <div class="rectangle-div"></div>
          <div class="group-child1"></div>
          <div class="group-child2"></div>
          <div class="home-exercise">Home Exercise</div>
          <div class="we-provide-pose">
            WE provide pose tracking with AI coach feedback to rectify
            incorrect poses.
          </div>
          <div class="ellipse-parent">
            <img class="frame-child" alt="" src="public/ellipse-4.svg" />
            <div class="div">4</div>
          </div>
          <div class="at-the-end">
            At the end of the review process with patients, a personalized
            plan and shared goals for their patient are recommended.
          </div>
          <div class="personalized-workout-plan">
            Personalized Workout Plan
          </div>
          <div class="ellipse-group">
            <img class="frame-child" alt="" src="public/ellipse-4.svg" />
            <div class="div1">3</div>
          </div>
          <div class="we-detect-the">
            We detect the postures and corrects them. Movement, posture, and
            form correction throughout the assessment.
          </div>
          <div class="posture-detection">Posture Detection</div>
          <div class="ellipse-container">
            <img class="frame-inner" alt="" src="public/ellipse-4.svg" />
            <div class="div">2</div>
          </div>
          <div class="we-take-information">
            We take Information about their health from each user .
          </div>
          <div class="review-process">Review Process</div>
          <div class="frame-div">
            <img class="ellipse-icon" alt="" src="public/ellipse-12.svg" />
            <div class="div3">1</div>
          </div>
        </div>
        <div class="rectangle-container">
          <div class="group-child3"></div>
          <img class="image-removebg-preview-7-2" alt="" src="public/imageremovebgpreview-7-2@2x.png" /><i
            class="get-in-touch-container"><span>Get In Touch and </span><span class="evolve-your-life">Evolve Your Life
              Style </span><span class="today">Today</span></i>
        </div>
      </div>
      <b class="together-with-our1">Together with our users, we strive to create a healthier, happier
        world. Free of pain and the countless other issues stemming from poor
        health.</b>
      <div class="your-body-was">
        Your body was never meant for such excessive sitting... But the good
        news is that there is a lot you can do to ease your back pain from the
        comfort of your home.
      </div>
      <i class="how-it-actually-container">
        <p class="examplemailcom"><span>How It Actually Works ?</span></p>
      </i>
    </div>
    <div class="start">
      <img class="screenshot-467-1" alt="" src="public/screenshot-467-1@2x.png" data-scroll-to="screenshot4671" />
      <div class="quote">
        <b class="a-good-stance2">A good stance and posture reflects a proper state of mind.</b><button
          class="sturjourneybutton" id="sturjourneybutton">
          <img class="sturjourneybutton-child" alt="" src="public/rectangle-10.svg" />
          <div class="start-your-journey">Start Your Journey!!</div>
        </button>
      </div>
    </div>
    <header class="header">
      <div class="physio-high-resolution-logo-bl-parent">
        <img class="physio-high-resolution-logo-bl-icon" alt=""
          src="public/physiohighresolutionlogoblackontransparentbackground-1@2x.png" />
        <div class="buttons">
          <div class="contact-us-parent">
            <button class="contact-us4" id="contactUs">Contact Us</button><button class="about-us3" id="aboutUs">About
              Us</button><button class="home1" id="home">Home</button>
          </div>
          <button class="join-button" id="joinButton">
            <div class="join-button-child"></div>
            <div class="join-us">Join Us</div>
          </button>
        </div>
      </div>
    </header>
  </div>

  <script>
    var sturjourneybutton = document.getElementById("sturjourneybutton");
    if (sturjourneybutton) {
      sturjourneybutton.addEventListener("click", function () {
        var anchor = document.querySelector(
          "[data-scroll-to='healthSurveyContainer']"
        );
        if (anchor) {
          anchor.scrollIntoView({ block: "start", behavior: "smooth" });
        }
      });
    }

    var contactUs = document.getElementById("contactUs");
    if (contactUs) {
      contactUs.addEventListener("click", function () {
        var anchor = document.querySelector(
          "[data-scroll-to='contactUsContainer']"
        );
        if (anchor) {
          anchor.scrollIntoView({ block: "start", behavior: "smooth" });
        }
      });
    }

    var aboutUs = document.getElementById("aboutUs");
    if (aboutUs) {
      aboutUs.addEventListener("click", function () {
        var anchor = document.querySelector("[data-scroll-to='aboutUsContainer']");
        if (anchor) {
          anchor.scrollIntoView({ block: "start", behavior: "smooth" });
        }
      });
    }

    var home = document.getElementById("home");
    if (home) {
      home.addEventListener("click", function () {
        var anchor = document.querySelector("[data-scroll-to='screenshot4671']");
        if (anchor) {
          anchor.scrollIntoView({ block: "start", behavior: "smooth" });
        }
      });
    }

    var joinButton = document.getElementById("joinButton");
    if (joinButton) {
      joinButton.addEventListener("click", function () {
        var anchor = document.querySelector(
          "[data-scroll-to='healthSurveyContainer']"
        );
        if (anchor) {
          anchor.scrollIntoView({ block: "start", behavior: "smooth" });
        }
      });
      
    }
    
  </script>
</body>

</html>
