body {
  margin: 0;
  line-height: normal;
}

.login-child {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #fbeadd, #fff);
  width: 1440px;
  height: 1024px;
}

.login-inner,
.login-item {
  position: absolute;
  top: 654px;
  left: 1027px;
  width: 580px;
  height: 580px;
}

.login-inner {
  top: 0;
  left: 107px;
  width: 280px;
  height: 280px;
}

.forgot-password,
.new-sign-up {
  position: absolute;
  font-weight: 600;
  display: inline-block;
}

.new-sign-up {
  text-decoration: none;
  top: 717px;
  left: 651px;
  color: inherit;
  width: 205px;
  cursor: pointer;
}

.forgot-password {
  top: 663px;
  left: 617px;
  width: 274px;
}

.woman-doing-yoga-21 {
  position: absolute;
  top: 277px;
  left: 15px;
  width: 610px;
  height: 725px;
  object-fit: cover;
}

.email1,
.login1,
.password {
  position: relative;
  flex-shrink: 0;
}

.login1 {
  text-transform: uppercase;
  display: inline-block;
  width: 204px;
  height: 38px;
}

.email1,
.password {
  border: 2px solid var(--color-saddlebrown-100);
  font-weight: 300;
  font-family: var(--font-lato);
  font-size: var(--font-size-xs);
  background-color: transparent;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  width: 286.83px;
  height: 49.35px;
  text-align: center;
}

.password {
  width: 287px;
  height: 49px;
}

.rectangle1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  border: 2px solid var(--color-mediumseagreen);
  box-sizing: border-box;
  width: 140.83px;
  height: 49.35px;
}

.login2 {
  position: absolute;
  top: 10.5px;
  left: 22.75px;
  font-size: var(--font-size-lg);
  line-height: 27px;
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-mediumseagreen);
  text-align: center;
  display: inline-block;
  width: 96.42px;
  height: 18.9px;
}

.loginbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 140.83px;
  height: 49.35px;
  flex-shrink: 0;
}

.form1 {
  position: absolute;
  top: 304px;
  left: 595px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 44px;
  text-align: center;
  font-size: var(--font-size-7xl);
  color: var(--color-saddlebrown-100);
}

.p1-icon1,
.p2-icon1,
.p3-icon1 {
  position: absolute;
  border-radius: var(--br-md);
  object-fit: cover;
}

.p3-icon1 {
  top: 20px;
  left: 1205px;
  width: 180px;
  height: 226px;
  opacity: 0.8;
}

.p1-icon1,
.p2-icon1 {
  top: 228px;
  left: 1192px;
  width: 153px;
  height: 235px;
}

.p1-icon1 {
  top: 120px;
  left: 1027px;
  width: 180px;
  height: 226px;
  opacity: 0.85;
}

.a-good-stance1,
.control-your-body1 {
  position: absolute;
  display: inline-block;
}

.control-your-body1 {
  top: 193px;
  left: 387px;
  font-weight: 100;
  font-family: var(--font-roboto);
  color: var(--color-saddlebrown-200);
  width: 352px;
}

.a-good-stance1 {
  top: 65px;
  left: 62px;
  font-size: var(--font-size-9xl);
  line-height: 55px;
  font-family: var(--font-petrona);
  color: var(--color-dimgray-200);
  width: 742px;
}

.login {
  position: relative;
  background-color: var(--color-darkolivegreen);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-darkgray);
  font-family: var(--font-lato);
}
